.logo {
    height: 500px;
    background-image: url("img/default-header.jpg");
    background-repeat: no-repeat;
}

.container {
    background-image: url("img/default-pattern.png");
}

.aside {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.center {
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.testcenter {
    padding: 20px;
    border: 1px solid yellow;
    margin-bottom: 10px;
}

.right {
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.testleft {
    padding: 20px;
    border: 1px solid brown;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact {
    padding: 20px;
    border-radius: 5px;
}

.contact {
    text-align: center;
}

.title {
    text-align: center;
    margin-top: 250px;


}

h1 {
    font-size: 50px;
    color: white;
}
